<% if policy(Like.new).create? %>
  <div>
    <% if like = current_user.liked(bookmark) %>

      <%= link_to [bookmark.topic, bookmark, like], class: 'btn btn-danger', method: :delete do %>
      <i class="glyphicon glyphicon-star-empty"></i>&nbsp; Unlike
    <% end %>
  <% else %>
    <%= link_to [bookmark.topic, bookmark, Like.new], class: 'btn btn-primary', method: :post do %>
    <i class="glyphicon glyphicon-star"></i>&nbsp; Like
  <% end %>
<% end %>
</div>
<% end %>
<br>
	<div class="row">
	  <h3>Liked Bookmarks:</h3>
	    <div class="col-md-8">
	      <% @liked_bookmarks.each do |bookmark| %>
	        <h4 class="media-heading">
	          <%="#{bookmark.topic.title}" %>
	          <br>
	          <%= link_to bookmark.url, topic_bookmark_path(topic_url, bookmark), :target => '_self' %> <%= render partial: 'likes/like', locals: { bookmark: bookmark } %>
	          <br>
	        </h4>
	      <% end %>
	    </div>
	</div>
  
